footer{
    background: #FFFFFf;
}
footer .container{
    display: flex;
    padding-top: 70px;
}

.footer-discriftion{
    font-family: 'Fira Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* or 17px */


/* Inputs/Grey */

color: #B2B2B2;
width: 166px;
height: 34px;
}

.inc{
    font-family: 'Fira Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */


/* Inputs/Grey */

color: #B2B2B2;
}

.footer-list{
    display: flex;
}

.footer-item{
    display: block;
    width: 134px;
    margin-left: 162px;
}

.dicrp{
    
}

footer{
    padding-left: 147px;
}